

/*OLIVER BATSTONE-🍻*/


/*--------------------------------------------------------- GLOBAL STYLES -💦 */


html {
  font-size: 14px;
}



body {
  font-family: "Montserrat", "Arial";
  color: #363636;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}


/*------------------------------------------------------------ NAVIGATION -💦 */


.nav-bar {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: white;
  padding: 0 24px;
  margin: 0 auto;

}



.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}

.pads {
  padding: 0 16px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo span {
  padding-left: 8px;
}

@media only screen and (min-width: 720px) {

.nav-bar li:nth-child(1n+5), .logo span {
  display: none;
}

}

/*---------------------------------------------------------------- HEADER -💦 */


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 32px 24px;

}

.header img {
  width: 60%;
}
